<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DKD
    </title>
    <link rel="stylesheet" href="css/Home.css">
    <link rel="stylesheet" href="css/addtocart.css">
    <link rel="stylesheet" href="css/cart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container container">
            <input type="checkbox">
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <div class="pages-all">
                <div class="logos">
                    <h1 class="logo"><a href="index.html#showcase">DKD</a></h1>
                </div>
                <div class="pages">
                    <ul class="menu-items">
                        <li><a href="#food">Categories</a></li>
                        <li><a href="#category-bar">Menu</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                
                </div>
            </div>
            <div class="sign-in">
                <a href="#" class="adj"><img src="images/Account_Icon.svg" alt="sign-in"></a>
                <a href="/signup" id="username">{{naming}}</a>
            </div>
            
            
            
        </div>
    </nav>
    <section class="showcase-area" id="showcase">
        <div class="showcase-container">
            <h1 class="main-title">Eat Right Food</h1>
            <p>Eat Healthy Live Healthy</p>
            <a href="#deals" class="btn btn-primary">Explore</a>
        </div>

    </section>
    <section id="about">
        <div class="about-wrapper container">
            <div class="about-text">
                <p class="small">About Us</p>
                <h2>Making Healhty Food since Last 10 years</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et non repudiandae nisi incidunt minima laboriosam totam iure cumque, asperiores hic excepturi accusamus consequatur, aspernatur quasi! Modi, magni quibusdam mollitia laudantium, non alias architecto, hic quae consectetur officia inventore. Totam, quae.</p>
            </div>
            <div class="about-image">
                <img src="./images/main_img3.avif" alt="About Us">
            </div>
        </div>
    </section>
    <section id="food">
        <h2>Categories</h2>
        <div class="food-container container">
            <div class="food-type thaali ">
                <div class="img-container">
                    <img src="images/thali.jpg" alt="">
                    <div class="category-heading"><p>Veg Thaali</p></div>
                    <div class="img-content">
                        <h3>Veg Thaali</h3>
                        <p>Dive into a flavorful journey with our tantalizing thaali! 🍛 A feast for the senses, crafted with love and tradition. #ThaaliDelight #TasteOfIndia</p>
                        <a href="#vth" class="btn btn-primary">Browse</a>
                    </div>
                </div>

            </div>
            <div class="food-type pasta">
                <div class="img-container">
                    <img src="images/pasta.jpg" alt="">
                    <div class="category-heading"><p>Pasta</p></div>
                    <div class="img-content">
                        <h3>Pasta</h3>
                        <p>Experience pasta perfection! 🍝 Rich, flavorful, and simply delicious. #PastaPassion #SavorTheMoment.</p>
                        <a href="#pts" class="btn btn-primary">Browse</a>
                    </div>
                </div>
            </div>
            <div class="food-type chineese">
                <div class="img-container">
                    <img src="images/chineese.jpg" alt="">
                    <div class="category-heading"><p>chineese</p></div>
                    <div class="img-content">
                        <h3>Chineese</h3>
                        <p>Discover the authentic taste of China with our flavorful dishes. Satisfy your cravings and indulge in a culinary journey today! 🥢 #ChineseCuisine</p>
                        <a href="#" class="btn btn-primary">Browse</a>
                    </div>
                </div>
            </div>
            <div class="food-type momos">
                <div class="img-container">
                    <img src="images/momos.jpg" alt="">
                    <div class="category-heading"><p>Momos</p></div>
                    <div class="img-content">
                        <h3>Momos</h3>
                        <p>Savor the irresistible flavors of momos! Steamed perfection bursting with delicious fillings. #MomoMania 🥟.</p>
                        <a href="#" class="btn btn-primary">Browse</a>
                    </div>
                </div>
            </div>
            <div class="food-type burger">
                <div class="img-container">
                    <img src="images/Burger.jpg" alt="">
                    <div class="category-heading"><p>Burgers</p></div>
                    <div class="img-content">
                        <h3>Burgers</h3>
                        <p>Satisfy your cravings with our mouthwatering burger - a taste sensation you won't soon forget! 🍔 #BiteIntoBliss #BurgerLove</p>
                        <a href="#bgs" class="btn btn-primary">Browse</a>
                    </div>
                </div>
            </div>
            <div class="food-type rolls">
                <div class="img-container">
                    <img src="images/rolls.jpg" alt="">
                    <div class="category-heading"><p>Rolls</p></div>
                    <div class="img-content">
                        <h3>Rolls</h3>
                        <p>Roll into flavor town with our delectable rolls! Bursting with savory fillings, every bite is a taste sensation. 🌯 #RollMastery.</p>
                        <a href="#" class="btn btn-primary">Browse</a>
                    </div>
                </div>
            </div>
            <div class="food-type pizza">
                <div class="img-container">
                    <img src="images/pizza.jpg" alt="">
                    <div class="category-heading"><p>Pizza</p></div>
                    <div class="img-content">
                        <h3>Pizza</h3>
                        <p>Indulge in a slice of heaven with our delicious pizza! 🍕 Freshly baked, bursting with flavor, and guaranteed to delight. #SliceOfHappiness</p>
                        <a href="#" class="btn btn-primary">Browse</a>
                    </div>
                </div>
            </div>
            <div class="food-type chicken">
                <div class="img-container">
                    <img src="images/chicken.jpg" alt="">
                    <div class="category-heading"><p>Non-Veg</p></div>
                    <div class="img-content">
                        <h3>Non-veg</h3>
                        <p>Indulge in mouthwatering non-veg delights! Satisfy your cravings with our flavorful dishes. #NonVegFeast 🍗</p>
                        <a href="#" class="btn btn-primary">Browse</a>
                    </div>
                </div>
            </div>
            <div class="food-type explore">
                <div class="img-container">
                        <img src="images/licking.jpg" alt="">
                        <div class="category-heading"><p>Lesss Go</p></div>
                    <div class="img-content">
                        <h3>Lesss Go</h3>
                        <p>Explore Flavorful Delights: Where Every Bite Unveils a New Culinary Adventure!.</p>
                        <div class="arrows">
                            <a href="menu.html"><div class="arrow"></div></a>
                            <a href="menu.html"><div class="arrow"></div></a>
                            <a href="menu.html"><div class="arrow"></div></a>
                        </div>
                        
                        
                        <a href="menu.html" class="btn btn-primary">Browse</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="deals">
        <h2>Deals</h2>
        <div class="carousel-container">
            
            <div class="carousel-slide">
              <img src="images/menu1.jpg" alt="Image 1">
              <img src="images/menu2.jpg" alt="Image 2">
              <img src="images/menu3.jpg" alt="Image 3">
            </div>
            <button id="prevBtn">&#10094;</button>
            <button id="nextBtn">&#10095;</button>
          </div>
    </section>
    <section id="#fullMenu" class="menufull">
        <div class="align">
            <div id="category-bar" class="category-nav">
                <div class="category-navigationr">
                    <h1 class="categoryh1">MENU</h1>
                    <li>
                        <ul class="category-item category-item1"><a href="#vth">Veg Thaali</a></ul>
                        <ul class="category-item category-item2"><a href="#pts">Pasta</a></ul>
                        <ul class="category-item category-item3"><a href="#">Chinese</a></ul>
                        <ul class="category-item category-item4"><a href="#">Momos</a></ul>
                        <ul class="category-item category-item5"><a href="#bgs">Burgers</a></ul>
                        <ul class="category-item category-item6"><a href="#">Rolls</a></ul>
                        <ul class="category-item category-item7"><a href="#">Pizza</a></ul>
                        <ul class="category-item category-item8"><a href="#">Non Veg</a></ul>

                    </li>
            
                </div>
            </div>
            <div id="#menu-detail" class="menu-items">
                <div class="veg-thaali" id="vth">
                    <h2 class="thaali-heading menu-heading">
                        Veg Thaali
                    </h2>
                    <div class="item-type thaali thaali1 ">
                        {{#each thalis}}
                        <div class="img-container">
                            <img src={{this.image}} alt="">
                            <div class="img-content">
                                <h3>{{this.name}}</h3>
                                <p class="cost">{{this.price}}</p>
                                <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, eum.</p>
                                <a href="#" class="btn btn-primary add-to-cart" data-name="{{this.name}}" data-price="{{this.price}}">Add to Cart</a>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <div class="veg-thaali" id="pts">
                    <h2 class="thaali-heading menu-heading">
                        Pasta
                    </h2>
                    <div class="item-type pasta pasta1 ">
                        {{#each pastas}}
                        <div class="img-container">
                            <img src={{this.image}} alt="">
                            <div class="img-content">
                                <h3>{{this.name}}</h3>
                                <p class="cost">{{this.price}}</p>
                                <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, eum.</p>
                                <a href="#" class="btn btn-primary add-to-cart" data-name="{{this.name}}" data-price="{{this.price}}">Add to Cart</a>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <div class="veg-thaali" id="bgs">
                    <h2 class="thaali-heading menu-heading">
                        Burgers
                    </h2>
                    
                    <div class="item-type burger burger1">
                        {{#each burgers}}
                        <div class="img-container">
                            <img src={{this.image}} alt="">
                            <div class="img-content">
                                <h3>{{this.name}}</h3>
                                <p class="cost">{{this.price}}</p>
                                <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, eum.</p>
                                <a href="#" class="btn btn-primary add-to-cart" data-name="{{this.name}}" data-price="{{this.price}}">Add to Cart</a>
                            </div>
                        </div>
                        {{/each}}
                    <div id="myModal" class="modal">

                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <h1>Added to cart successfully</h1>
                            <a href="#fullMenu" class="btn btn-primary view-cart">View Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="cart-dialog" class="cart-dialog">
            <div class="cart-content">
                <span class="cart-close">&times;</span>
                <h2>Your Cart</h2>
                <div id="cart-items" class="cart-items">
                    <!-- Cart items will be dynamically appended here -->
                </div>
                <!-- Total cost and Place Order button will be dynamically added here -->
            </div>
        </div>
        <div id="orderConfirmationModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h1>Order Placed Successfully!</h1>
            </div>
        </div>
    </section>
    <section id="testimonial">
        <h2 class="testimonial-title">What Our Customers Say</h2>
        <div class="testimonial-container container">
            <div class="testimonial-box">
                <div class="star-rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>

                </div>
                <p class="testimonial-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci incidunt asperiores ullam a? Nam, est.</p>
                <div class="customer-details">
                    <div class="customer-photo">
                        <img src="images/male-photo1.jpg" alt="">
                        <p class="customer-name">Minta Singh</p>
                    </div>
                </div>
            </div>
            <div class="testimonial-box">
                <div class="star-rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>

                </div>
                <p class="testimonial-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci incidunt asperiores ullam a? Nam, est.</p>
                <div class="customer-details">
                    <div class="customer-photo">
                        <img src="images/male-photo2.jpg" alt="">
                        <p class="customer-name">Mangal Singh</p>
                    </div>
                </div>
            </div>
            <div class="testimonial-box">
                <div class="star-rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>

                </div>
                <p class="testimonial-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci incidunt asperiores ullam a? Nam, est.</p>
                <div class="customer-details">
                    <div class="customer-photo">
                        <img src="images/male-photo3.jpg" alt="">
                        <p class="customer-name">Gabbar Singh</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="contact-container container">
            <div class="contact-image">
                <img src="images/restraunt-image.jpg" alt="">
            </div>
                <div class="form-container">
                    <h2>Contact Us</h2>
                    <input type="text" placeholder="Name">
                    <input type="Email" placeholder="Email">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Type Here"></textarea>
                    <a href="#" class="btn-primary btn">Submit</a>
                </div>
            
        </div>
    </section>
    <footer id="footer">
       <h2> Resturant website &copy; All rights reserved</h2>
    </footer>
    

    <script src="javascript/menu.js"></script>
    <!-- <script src="javascript/category.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="javascript/smoothscorll.js"></script>
    <script src="javascript/addtocart.js"></script>
    <script src="javascript/showcart.js"></script>
    <script src="javascript/orderconfirm.js"></script>
</body>
</html>